@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body{
    width: 100%;
    height: 100vh;
    background:var(--color-primary) ;
}
/* *********************contenedor padre********************** */
.container{
    display: grid;
    grid-template-columns: 22% 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/* *******************menu******************* */

.menu{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.115);
}
.menu1{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-around;
    padding: 1rem;
    gap: 1.2rem;
}
.menu1 li{
    list-style: none;
    padding: 1rem;
    background-color: gray;
    border-radius: 1rem;
}
.menu1 li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.menu1 li a img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.carrito{
    display: grid;
    justify-content: space-around;
    padding: 1rem;
    gap: 1.2rem;
}
.carrito li{
    list-style: none;
    padding: 1rem;
    background-color: gray;
    border-radius: 1rem;
}
.carrito li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.carrito li a img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
/* *****************contenido de la derecha************************* */
.Todos{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.131);
    padding: 5rem;
}
.todos_1{
    padding: 1rem;
    width: 100%;
    height: 85vh;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 1fr ;
    border: rgba(0, 0, 0, 0.11) solid 1px;
    border-radius: 3rem;
}
.contenidos{
    padding: 10px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    overflow-y: auto;
}
.contenidos_1{
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 68vh;
    display: grid;
    gap: 1rem;
    grid-auto-rows: minmax(12rem, 6fr);
    /* grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); */
    overflow-y: auto;
}
.coatsmenu{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    border: rgba(0, 0, 0, 0.187) solid 1px;
    border-radius: 2rem;
    max-height: 60vh;
    overflow: auto; /* Esto habilita el scroll si el contenido excede el alto máximo */
}
.coatsmenu_footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: rgba(0, 0, 0, 0.187) solid 1px;
    border-radius: 1rem;
    max-height: 10vh;
}
.derecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.derecha li{
    list-style: none;
}
.derecha li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.derecha li a img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.izquierda{
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: rgba(255, 0, 0, 0);
}
.izquierda li{
    list-style: none;
}
.izquierda li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.izquierda li a img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.coats, .shirt, .pants{
    display: grid;
    grid-template-rows: 4fr 1fr;
    border: rgba(0, 0, 0, 0.187) solid 1px;
    border-radius: 2rem;
}
.text{
    display: grid;
    background-color: rgba(150, 150, 150, 0.932);
    border-radius: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
}
.textmenu, .cantidad, .precio, .subtotal, .carritoimg, .total{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem; 
    justify-content: center;
   
}
.texto_si{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(204, 201, 201);
    border-radius: 1rem;
}
/* ************************************************************** */
.coats_1{
    background-image: url(../storage/img/abrigos/APRILIA.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.coats_2{
    background-image: url(../storage/img/abrigos/DUCATI.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;

}
.coats_3{
    background-image: url(../storage/img/abrigos/KTM.jpg);
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 5rem;

    background-size: contain;
}
.coats_4{
    background-image: url(../storage/img/abrigos/GASGAS.jpg);
    object-fit: contain;
    background-repeat: no-repeat;

    border-radius: 5rem;
    background-size: contain;
}
.coats_5{
    background-image: url(../storage/img/abrigos/HONDA.jpg);
    border-radius: 5rem;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
}
/* *******************************************************+ */
.shirt_1{
    background-image: url(../storage/img/camisetas/APRILIA.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 5rem;
    background-size: contain;
}
.shirt_2{
    background-image: url(../storage/img/camisetas/DUCATI.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 5rem;
    background-size: contain;
}
.shirt_3{
    background-image: url(../storage/img/camisetas/HONDA.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.shirt_4{
    background-image: url(../storage/img/camisetas/KTM.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.shirt_5{
    background-image: url(../storage/img/camisetas/YAMAHA.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
/* ******************************************************* */
.pants_1{
    background-image: url(../storage/img/pantalones/FOX_A.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.pants_2{
    background-image: url(../storage/img/pantalones/FOX_G.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.pants_3{
    background-image: url(../storage/img/pantalones/FOX_M.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.pants_4{
    background-image: url(../storage/img/pantalones/FOX_N.webp);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
.pants_5{
    background-image: url(../storage/img/pantalones/FOX_R.webp);
    
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;
}
/* *********************************************************** */